:root{
    --app-panel-bg:#aaaaaa;
}
html,body{
    width:100vw;
    height:100vh;
    background: #6d0083;
}
.app-header{
    position: absolute;
    top:-10px;
    left:0px;
    width:100vw;
    height:50px;
    padding-top:10px;
}
.app-title-wrapper{
    display: inline-block;
    height: 50px;
    font-size:50px;
    padding-left: 0.25em;
    padding-right: 0.25em;
    position: relative;
    top:-10px;
}
.app-button-static{
    display: inline-block;
    width:50px;
    height: 50px;
}
.object-select{
    position: absolute;
    top:calc(50px + calc(100vh - 360px));
    width:396px;
    height:306px;
    background-color:var(--app-panel-bg);
    left:0px;
    border:2px inset black;
    overflow: wrap;
}
.hiarchy{
    position: absolute;
    top:50px;
    width:396px;
    left:0px;
    height:calc( 100vh - 360px - 4px);
    background-color:var(--app-panel-bg);
    border:2px inset black;
}
.timeline{
    position: absolute;
    top:calc(50px + calc(100vh - 360px));
    left:400px;
    width: calc(100vw - 800px - 4px);
    height: 306px;
    background-color:var(--app-panel-bg);
    border:2px inset black;
}
.properties{
    position: absolute;
    top:50px;
    left:calc(100vw - 400px);
    width:396px;
    height:calc(100vh - 54px);
    background-color:var(--app-panel-bg);
    border:2px inset black;
}
.preview{
    background-color:var(--app-panel-bg);
    position: absolute;
    top:50px;
    left:400px;
    height: calc(100vh - 360px - 4px);
    width: calc(100vw - 800px - 4px);
    border:2px inset black;
}
.hiarchy-object{
    border:1px solid black;
}
.hiarchy-hide-button{
    display:inline-block;
    width:19px;
    text-align: center;
}
.hiarchy-folder-name{
    position: relative;
    min-width: 100px;
    width:fit-content;
    max-height: 1ch;
}
.hiarchy-item-name{
    width:calc(100% - 25px);
}
.hiarchy-folder-children{
    padding-left: 1em;
}
.app-hidexoverflow{
    overflow-x:hidden;
    width:100%;
    height:min-content;
    max-height: 19px;
}
.draggable{
    display: inline-block;
    max-width: fit-content;
}
.object-select-item{
    display: inline-block;
    width:100px;
    height:100px;
    margin: 1em;
    background-color:#ff00ff;
    border-radius: 1em;
}
.object-wrapper{
    display: inline-block;
    width:100px;
    height: 100px;
    margin:10px;
    background-color:#999;
    border-radius: 1em;
}